import { Module } from '@nestjs/common';
import { ConfigModule } from '@nestjs/config';
import { ScheduleModule } from '@nestjs/schedule';
import { <%- className %>CronService } from './<%- fileName %>-cron.service.js';

@Module({
  imports: [ConfigModule.forFeature(() => ({})), ScheduleModule],
  providers: [<%- className %>CronService],
})
export class <%- className %>Module {}
